body{
    height: 100%;  
    width: 100%;
    font-family: 'Nobile', sans-serif;

}

.front{
    background-image: url('Asset/images/City-grey.png');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}


.frontplate{
    background-color: rgba(35, 35, 35, 0.75);
    color: rgb(224, 171, 47);
    padding: 3%;
    height: 90%;
    border-radius: 1.2%;
    text-align: center;
    padding-top: 15%;

}

.navbar{
    font-size: 130%;

}
.frontimg{
    width: 30%;
}

.info-red{
    background-color:rebeccapurple;

}

.info-blue{
    background-color: grey;
}

.btn-circle {
    width: 4%;
    height: 4%;
    text-align: center;
    padding: 4px;
    margin: 3px;
    font-size: 110%;
    line-height: 1.428571429;
    border-radius: 100%;
  }
.logo{
    width: 7%;
    margin-right: 10px;
}

.active{
    border-bottom: solid;
    border-color: royalblue;
    border-bottom-width: 3px;
}

.footer{
    text-align: right;
    font-size: 110%;
    background-color: gray;
    color: white;
    padding: 8px;
}
.ftrbtn{
    background-color: transparent;
    border: none;
}