body,html{
    height:100%;
    width: 100%;
    background-color: rgb(23, 17, 37);
    font-family: 'Oswald', sans-serif;
    font-size: 3vh;
    overflow: scroll;
    

}
body h1{
    font-size: 3.8vh;
}

.bg{
    background-image: url('Asset/images/Portfolio Mockup.png');
    height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.card{
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #E7DfDD;
    background-color: #676EB0;
    color:#E7DfDD;
}

.card-img-top{
    height: 35%;
    border-bottom: solid;
}



hr{
    border-color:#A239CA;
    border-width: 8px;
    padding: 5px;
    margin: 5px;
}
.hd{

    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #E7DfDD;
    background-color: rgba(23, 17, 37,0.5);
    padding: 20%;
    margin: 5px;
    height: 60%;


}


.about{
    color: #E7DfDD;
    background-color: #676EB0;

}


.title{

}
.avi{
    height:20%;
    border: solid;
    border-width: 1vh;
    border-color: #8BCFF4;
    border-radius: 100%;
    margin-bottom: 12px;

}

.card{
    height:700px;
    width:440px;
}
.nameplate{

}

.hl{
    color: #A239CA;

}

.section{
    height: 100%;  
    width: 100%;
}
.tnail{
    margin-top: 15px;
    width: 100%;
    border: solid;
    border-color: #A239CA;
    border-radius: 1vh;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: solid;
    border-color: red;
}
col{
    padding:5px;
    border-width: 5px;
    border: solid;
    border-color: white;
}
.trow{
    border-right: solid;
    border-left: solid;
    border-width: 3px;
    border-color:#A239CA;
}
.shift{
    padding-top: 10%;
}
.display{

    text-align: center;


    border-style: solid;
    border-radius: 50px;
    border-color: black;
}

.contactpin{

}
.contacttbl{
    border-color: black;
    border: solid;

    height: 100px;
}

.arrow {
    background: rgba(0,0,0,0);
    border : none;

    color: #E7DfDD;
  }


  .type {

    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  .table{

  }
  
.portfolio{
    background-color: #c8e19d;

}

  .portfolio h1{

  }

  @media screen and (max-width: 780px){
    body,html{
        height:100%;
        width: 100%;
        background-color: rgb(23, 17, 37);
        font-family: 'Oswald', sans-serif;
        font-size: 2.2vw;
        overflow: scroll;
        
    
    }
    body h1{
        font-size: 1.8vw;
    }

  }