body,html{
    height:100%;
    width: 100%;
    background-color: rgb(23, 17, 37);
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    overflow: scroll;

}

.bg{
    background-image: url('Asset/images/Portfolio Mockup.png');
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.portfolio{
    padding: 10%;
    background-color: #c8e19d;
}

.card{
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #E7DfDD;
    background-color: #676EB0;
    color:#E7DfDD;
}

.card-img-top{
    height: 35%;
    border-bottom: solid;
}



hr{
    border-color:#A239CA;
    border-width: 8px;
    padding: 5px;
    margin: 5px;
}
.hd{

    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #E7DfDD;
    background-color: rgba(23, 17, 37,0.5);
    padding: 20%;
    margin: 5px;


}
.front{
    padding: 20%;
    margin: 5px;

}

.about{

    color: #E7DfDD;
    background-color: #676EB0;
    padding: 20px;
    border-radius: 10px;
    font-size: 150%;
}


.title{
    font-size: 200%;
}
.avi{
    height:20%;
    border: solid;
    border-width: 8px;
    border-color: #8BCFF4;
    border-radius: 100%;
    margin-bottom: 12px;

}

.card{
    font-size: 1%;
    height:700px;
    width:440px;
}
.nameplate{
    font-size: 100px;
}

.hl{
    color: #A239CA;
    font-size: 70px;
}

.section{
    height: 100%;  
    width: 100%;
}
.tnail{
    width: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
col{
    padding:5px;
    border-width: 5px;
    border: solid;
    border-color: white;
}
.trow{
    border-right: solid;
    border-left: solid;
    border-width: 3px;
    border-color:#A239CA;
}
.shift{
    padding-top: 10%;
}
.display{

    text-align: center;
    font-size: 200px;

    border-style: solid;
    border-radius: 50px;
    border-color: black;
}

.contactpin{
    font-size:30px; 
}
.contacttbl{
    border-color: black;
    border: solid;
    font-size: 30px;
    height: 100px;
}

.arrow {
    background: rgba(0,0,0,0);
    border : none;
    font-size: 60px;
    color: #E7DfDD;
  }


  .type {
    border-color: orange;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }