body{
    background-image: url('Asset/images/Portfolio Mockup.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hd{
    height: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #E7DfDD;
    background-color: rgba(23, 17, 37,0.5);
    padding: 20px;
    margin: 5px;

}
.nameplate{
    font-size: 50px;
}

.hl{
    color: #A239CA;
    font-size: 30px;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
