@import url("https://fonts.googleapis.com/css?family=Creepster");


body,
html {
    font-family: 'Droid Sans Mono', monospace;
    height: 100%;
    margin: 0;
    font: 400 15px/1.5;
    font-size: 1.15em;
    color: rgb(8, 7, 46);
}


p {
  font-family: monospace;
    font-size: 1.2em;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("/Asset/images/Ryan-1.png");
  min-height: 80%;
}

.bgimg-2 {
  background-image: url("https://github.com/erictreacy/jpgs/blob/master/happy-halloween-6.jpg?raw=true");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://github.com/erictreacy/jpgs/blob/master/happy-halloween-7.jpg?raw=true");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border{
    color: rgba(0, 0,0, 0.5);
}

.caption span.border {
  background-color: rgba(0, 0, 0, 0.397);
  color: whitesmoke;
  padding: 18px;
  font-size: 45px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 3em monospace;
  color: #000;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
